# Application
NODE_ENV=development
PORT=3000

# Base de données
DB_HOST=postgres
DB_PORT=5432
DB_NAME=pigeon_nutrition_dev
DB_USER=pigeon_user
DB_PASSWORD=pigeon_password
POSTGRES_PASSWORD=postgres_root_password  # Mot de passe root PostgreSQL

# URL de connexion Prisma
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# JWT
JWT_SECRET=your_jwt_secret_here

# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin 