# Configuration du serveur
PORT=3000

# Configuration de la base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pigeon_nutrition
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe

# Configuration de l'application
NODE_ENV=development

# Configuration de la sécurité
JWT_SECRET=votre_secret_jwt 